---
layout: base.njk
---

<article>
    <header>
        <h1>{{ title }}</h1>
        <time datetime="{{ date | date: '%Y-%m-%d' }}">{{ date | readableDate }}</time>
        {% if tags %}
        <div class="tags">
            {% for tag in tags %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </header>
    
    <div class="content">
        {{ content | safe }}
    </div>
</article>